.main {

    margin-top: 60px;

    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .f {
            padding-bottom: 15px;
            font-style: italic;
            color: #1b745e;
            font-size: 1.025rem;
            line-height: 1.5;
        }

        .s {
            color: #1b745e;
            padding-bottom: 30px;
            font-size: 2.875rem;
        }
    }

}

@media screen and (min-width: 320px) and (max-width: 768px) {

    .main {


    }
    
}

@media screen and (max-width: 1024px) {

    .main {

	

    }
    
}